*.class
*.jar
*jar
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.log
.log.gz
/.lein-*
/.nrepl-port
/checkouts
/classes
/lib
/target
pom.xml
pom.xml.asc
.idea

ovation_api_webservice.iml

ovation.log
*.log.gz