# Default values for ovation-webapi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image:
  repository: gcr.io/ovation-io/webapi
  tag: stable
  pullPolicy: IfNotPresent

service:
  name: webapi
  type: NodePort
  externalPort: 80
  internalPort: 3000

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.global-static-ip-name: <name>
    kubernetes.io/tls-acme: <boolean>
    kubernetes.io/ingress.allow-http: <boolean>
  hosts:
  tls:

config:
  DB_UPDATES_TOPIC: <topic>
  GOOGLE_CLOUD_PROJECT_ID: ovation-io
  OVATION_IO_HOST_URI: "https://app-services-staging.ovation.io"

secret:
  ELASTICSEARCH_URL: "http://localhost:9200"
  GCP_SERVICE_KEY_JSON: json
  JWT_SECRET: jwt
  MYSQL_DATABASE_NAME: <name>
  MYSQL_PASSWORD: <password>
  MYSQL_PORT: <port>
  MYSQL_SERVER: <dns-name>
  MYSQL_USERNAME: <username>
  RAYGUN_API_KEY: raygun

gcloud-sqlproxy:
  serviceAccountKey: base64accountkey
  cloudsql.instance: project:region:instance

tags:
  sql: false
  elasticsearch: false

elasticsearch:
  cluster:
    config: {}
    client:
      serviceType: ClusterIP
  data:
    persistence:
      storageClass: elasticsearch-ssd
  client:
  master:

  #   data:
  #     replicas: 3
  #     resources:
  #       requests:
  #         cpu: '500m'
  #         memory: 2Gi
  #       limits:
  #         cpu: '1'
  #         memory: 3Gi
  #     persistence:
  #       size: 10Gi
  #       storageClass: "es-fast"
  #   client:
  #     replicas: 2
  #     resources:
  #       requests:
  #         cpu: '1'
  #         memory: 2Gi
  #       limits:
  #         cpu: '2'
  #         memory: 4Gi
  #   master:
  #     replicas: 3
  #     resources:
  #       requests:
  #         cpu: '1'
  #         memory: 2Gi
  #       limits:
  #         cpu: '2'
  #         memory: 4Gi

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
